@model ProductVM

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">
                    @(Model.Form.Id == null || Model.Form.Id == 0 ? "Create" : "Update") Product
                </h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Form.Id" hidden /> 
            <div class="border p-3">

                <div asp-validation-summary="All"></div>

                <div class="form-floating py-2 col-12">
                    <input asp-for="Form.Name" class="form-control border-0 shadow" />
                    <label asp-for="Form.Name" class="ms-2"></label>
                    <span asp-validation-for="Form.Name" class="text-danger"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    <textarea asp-for="Form.Description" class="form-control border-0 shadow"> </textarea>
                    <label asp-for="Form.Description" class="ms-2"></label>
                    <span asp-validation-for="Form.Description" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Form.Price" class="form-control border-0 shadow" />
                    <label asp-for="Form.Price" class="ms-2"></label>
                    <span asp-validation-for="Form.Price" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Form.Amount" class="form-control border-0 shadow" />
                    <label asp-for="Form.Amount" class="ms-2"></label>
                    <span asp-validation-for="Form.Amount" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Form.MeasurementUnit" class="form-control border-0 shadow" />
                    <label asp-for="Form.MeasurementUnit" class="ms-2"></label>
                    <span asp-validation-for="Form.MeasurementUnit" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <select asp-for="Form.CategoryId" asp-items="@Model.CategoryList" class="form-select border-0 shadow">
                        <option disabled selected>--Select Category</option>
                    </select>
                    <label asp-for="Form.CategoryId" class="ms-2"></label>
                    <span asp-validation-for="Form.CategoryId" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input type="file" class="form-control border-0 shadow" />
                    <label asp-for="Form.ImgUrl" class="ms-2"></label>
                    
                </div>
                <div class="row pt-3">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">
                            @(Model.Form.Id == null || Model.Form.Id == 0 ? "Create" : "Update")
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-area="Admin" asp-controller="Product" asp-action="Index" class="btn btn-outline-primary border form-control">
                            Back to ProductList
                        </a>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

